<h1>Body Mass Index</h1>

<p>Enter your data here</p>

<form>
    <label>Enter height in meters</label>
    <input name ="height">
    <br>
    <label>Enter weight in kg</label>
    <input name="weight">

    <input type="submit">
   <link href="stylesheets/styles.css" type="text/css" rel="stylesheet">

</form>